.Dashboard {
}

.row {
  height: 90px;
}

.row img {
  height: 80px;
}

.dishes {
  border: 1px solid black;
  padding: 16px;
  width: 80%;
  margin: 16px auto;
}

.orders {
  border: 1px solid black;
  padding: 16px;
  width: 80%;
  margin: 16px auto;
}

.orderItems {
  width: 100%;
}

.orderItem {
  width: 95%;
  padding: 16px;
  margin: 32px auto;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.3);
}
