.Modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 60vw;
  height: 70vh;
  background-color: white;
  overflow: auto;
  box-shadow: 0px 0px 2px 1px rgba(0, 0, 0, 0.3);
}
